.login_form{
  width: 444px;
  padding: 0 0 44px;
}
.login_email_input, .login_password_input{
  min-width: 420px;
  margin: 0 0 28px;
  padding: 10px;
  background: #dfdfdf;
  border: 0;
  font: 22px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  -webkit-box-shadow: 0 1px 1px 1px #aaa inset;
  -moz-box-shadow: 0 1px 1px 1px #aaa inset;
  box-shadow: 0 1px 1px 1px #aaa inset;
}
.login_password_input{
  margin: 0;
}
.login_form .login_input_label{
	font: 20px/160% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
	cursor: pointer;
}
.login_forgot_password{
	display: block;
	width: 440px;
  margin: 1px 0 0;

	text-align: right;
}
.login_forgot_password a,
.login_forgot_password a:link,
.login_forgot_password a:active,
.login_forgot_password a:visited{
	display: inline-block;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
	text-decoration: none;
}
.login_forgot_password a:hover{
	color: #666;
	border-bottom: 1px solid #666;
}
.login_remember_email_label{
	display: inline-block;
	margin: 48px 0 0;
	padding: 8px 0 8px 0;
}
.login_remember_email_checkbox{
	margin: 0;
  position: relative;
	top: 2px;
  cursor: default;
}
.login_remember_email_label strong{
	margin: 0 0 0 3px;
	padding: 8px 8px 0 0;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #909090;
  cursor: pointer;
}
.button{
  float: right;
	margin: 40px 0 0;
  padding: 12px 16px;
  border: 0;
  overflow: visible;
  background: #e6e6e6;
  font: 900 22px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bbb;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 -1px 0 #888;
	-webkit-box-shadow:  0 0 1px 1px #fff inset, 0 1px 1px 1px #aaa, 0 8px 0 1px #989898, 0 8px 0 5px #d9d9d9;
	-moz-box-shadow:  0 0 1px 1px #fff inset, 0 1px 1px 1px #aaa, 0 8px 0 1px #989898, 0 8px 0 5px #d9d9d9;
  box-shadow:  0 0 1px 1px #fff inset, 0 1px 1px 1px #aaa, 0 8px 0 1px #989898, 0 8px 0 5px #d9d9d9;
  cursor: pointer;
}
.button_hover{
  background: #eee;
  text-shadow: 0 -1px 0 #949494, 0 2px 0 #fff;
}
.button_active{
  position: relative;
	top: 7px;
	-webkit-box-shadow: 0 1px 0 0 #e0e0e0 inset, 0 1px 0 1px #fff inset, 0 1px 1px 1px #aaa, 0 1px 0 1px #999, 0 1px 0 5px #ddd;
	-moz-box-shadow: 0 1px 0 0 #e0e0e0 inset, 0 1px 0 1px #fff inset, 0 1px 1px 1px #aaa, 0 1px 0 1px #999, 0 1px 0 5px #ddd;
  box-shadow: 0 1px 0 0 #e0e0e0 inset, 0 1px 0 1px #fff inset, 0 1px 1px 1px #aaa, 0 1px 0 1px #999, 0 1px 0 5px #ddd;
}
.input_active{
  background: #e8e8e8;
  color: #333;
  outline: none;
	-webkit-box-shadow: 0 0 0 2px #23aaff inset;
	-moz-box-shadow: 0 0 0 1px #23aaff inset;
	box-shadow: 0 1px 1px 1px #23aaff inset, 0 1px 0 0 #23aaff;
}